
.top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.title {
  padding: 4px 8px;
  font-size: 32px;
  font-weight: 700;
  color: var(--white);
  background: var(--green-secondary);
  border-radius: 4px;
}

.complete {
  padding: 4px 8px;
  font-size: 18px;
  color: var(--white);
  background: var(--green);
  border-radius: 4px;
}

.status {
  position: static;
  font-size: 18px;

  &-title {
    font-size: 16px;
  }

  &-box {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);

  &-title {
    font-size: 18px;
    font-weight: 500;
  }
}

.description {
  font-size: 16px;
}

.date {
  font-size: 16px;

  &-title {
    font-weight: 500;
    font-size: 16px;
  }

  &-box {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.back {
  display: inline-flex;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: var(--secondary-cta);
    text-decoration: none;
  }
}
