<!--<p>rx-js-learn works!</p>-->


<!--<h1 class="counter">{{ counter }}</h1>-->

<!--<button type="button" class="modal-button" (click)="increment()">Increment</button>-->
<!--<button type="button" class="modal-button" (click)="decrement()">Decrement</button>-->

<!--<hr />-->

<!--<input type="text" class="field" #field [ngModel]="counterField" (ngModelChange)="changeCounter($event)" />-->


<!--<p>{{ counterUp }}</p>-->


<!--@for (user of users; track user.id) {-->
<!--    <p>{{ user.name }}</p>-->
<!--    <p>{{ user.email }}</p>-->
<!--    <p>{{ user.address.city }}</p>-->

<!--    <hr />-->
<!--}-->


<input type="text" class="field"  #fieldSearch />

<hr />

@for (item of copyUserList; track $index) {
    <span>{{ item.name}} </span>
    <span>{{ item.age}}</span>

    <hr />
}


<hr />

<button type="button" class="modal-button" #exhaustEl (click)="exhaustTest()">Exhaust</button>

<button type="button" class="modal-button" #switchEl (click)="switchTest()">SwitchMap</button>
