
:host {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 48px;
  background: var(--white);
  border-radius: 8px;
}

.top-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.button-edit {
  .icon {
    font-size: 24px;
  }
}

.back-button {
  display: inline-flex;
  align-self: flex-start;
  align-self: center;
  padding: 5px;
  font-size: 14px;
  line-height: 1.3;
  color: var(--black-2);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: var(--secondary-cta-hover);
  }
}

.profile-top-block {
  display: flex;
  align-items: center;
  gap: 48px;


  .image {
    display: block;
    max-width: 100%;
    margin: 0 auto;

    &-wrap {
      width: 220px;
      height: 220px;
      border-radius: 50%;
      background: rgba(var(--grey-dark-rgb), .5);
    }
  }

  .name {
    font-size: 48px;
    font-weight: 500;

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  .position {
    font-size: 24px;
    color: rgba(var(--grey-dark-rgb), .5);
  }
}


.list-info {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px;

  .item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-title {
      font-size: 18px;
      font-weight: 500;

      &-sub {
        font-size: 18px;
        color: vaR(--black-2);
      }
    }

    &-value {
      font-size: 24px;
      color: var(--grey-dark);
    }
  }
}


.related-employee-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 32px;
  border-top: 1px solid rgba(85, 86, 90, 0.12);

  .list {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 16px;
  }

  .title {
    font-size: 28px;
    font-weight: 500;
  }

  .link {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-decoration: none;
    padding: 16px;
    border-radius: 8px;

    &:hover {
      background: rgba(85, 86, 90, 0.05);
    }
  }

  .icon {
    &-wrap {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background: rgba(var(--grey-dark-rgb), .25);
    }
  }

  .name {
    font-size: 18px;
    color: var(--black-2);
  }

  .empty-item {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / -1;
    min-height: 300px;
    padding: 24px;
    font-size: 24px;
    color: rgba(var(--grey-dark-rgb), 0.85);
    background: rgba(var(--grey-dark-rgb), 0.1);
    border-radius: 8px;
  }
}
