
:host {
  display: block;
  padding: 16px;
}

.user-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 8px;
}

.modal-button {
  min-height: auto;
}
