<div class="intro">

  <h1 class="title">List of projects</h1>

  <p class="description">Choose the project you need</p>

  <div class="card-list">
    <button type="button" class="card" [routerLink]="'/todo'">

      <picture class="card-img-box">
        <img src="./assets/images/todo-list.png" class="card-img" alt="Todo List" />
      </picture>

      <span class="card-title">Todo list</span>
    </button>

    <button type="button" class="card" (click)="logInCompany()">

      <picture class="card-img-box">
        <img src="./assets/images/company.jpg" class="card-img" alt="IT Company"/>
      </picture>

      <span class="card-title">Company's employees</span>
    </button>
  </div>

</div>

<!--<input #titleField type="text" [(ngModel)]="title"  />-->

<!--<app-test-1></app-test-1>-->
