<!--<div class="intro">-->

<!--  <h1 class="title">List of projects</h1>-->

<!--  <p class="description">Choose the project you need</p>-->

<!--  <div class="card-list">-->

<!--      <app-test-1 [content]="button" [data]="user"></app-test-1>-->


<!--  </div>-->

<!--</div>-->


<form [formGroup]="infoForm" (submit)="saveChanges()">
    <app-custom-field formControlName="name"></app-custom-field>

    <app-custom-field formControlName="lastName"></app-custom-field>

    <input type="number" class="field" formControlName="age"/>

    <button type="submit" class="modal-button">Submit</button>
</form>


<ng-template #button>
    <button type="button" class="card" [routerLink]="'/todo'">

              <span class="card-img-box">
                <img src="./assets/images/todo-list.png" class="card-img" />
              </span>

        <span class="card-title">Todo list</span>
    </button>
</ng-template>

<!--<input #titleField type="text" [(ngModel)]="title"  />-->

<!--<app-test-1 [list]="listNumbers">-->
<!--    <ng-template #listNumbers>-->
<!--        @for (item of [1, 2, 3, 4, 5]; track item) {-->
<!--            <span class="title">{{ item }} Title text</span>-->
<!--            <p class="description">Test text</p>-->
<!--        }-->
<!--    </ng-template>-->

<!--</app-test-1>-->


<!--<app-test-1>-->
<!--    <p paragraphOne>text one</p>-->
<!--    <p paragraphTwo>text two</p>-->
<!--    <p paragraphThree>text three</p>-->
<!--</app-test-1>-->




<!--<app-test-1 [loading]="loading" [error]="error" [success]="success" [status]="'success'">-->
<!--    <ng-template #loading>-->
<!--        <p>text loading</p>-->
<!--    </ng-template>-->
<!--    <ng-template #success>-->
<!--        <p>text success</p>-->
<!--    </ng-template>-->
<!--    <ng-template #error>-->
<!--        <p>text error</p>-->
<!--    </ng-template>-->
<!--</app-test-1>-->


<!--@for (button of priorityButtonsSecond; track button) {-->
<!--    <ng-container *ngTemplateOutlet="buttonTemplate; context: { $implicit: button}"></ng-container>-->
<!--}-->


<!--<app-test-1 [second]="paragraphTwo">-->

<!--    <ng-template #paragraphTwo>-->
<!--        <p >text two</p>-->
<!--    </ng-template>-->

<!--</app-test-1>-->



<!--<app-test-1 [third]="paragraphThree">-->
<!--    <ng-template #paragraphThree>-->
<!--        <p >text three</p>-->
<!--    </ng-template>-->
<!--</app-test-1>-->


<!--@for (button of priorityButtons; track button) {-->
<!--    <ng-container *ngTemplateOutlet="buttonTemplate; context: { $implicit: button}"></ng-container>-->
<!--}-->





<!--<ng-template #buttonTemplate let-button>-->
<!--    <button type="button" class="modal-button">{{button.text}}</button>-->
<!--</ng-template>-->








