
<div class="title">Edit profile</div>

<form class="form-profile" [formGroup]="profileForm" (submit)="submitForm()">

    <div class="content">

        <div class="field-title title-info">Employee info</div>

        <app-custom-field [title]="'First name'" formControlName="firstName"></app-custom-field>
        <app-custom-field [title]="'Last name'" formControlName="lastName"></app-custom-field>
        <app-custom-field [title]="'Age'" [type]="'number'" formControlName="age"></app-custom-field>
        <app-custom-field [title]="'Email'" [type]="'email'" formControlName="email"></app-custom-field>

        <div class="field-title title-info">Employee work info</div>

        <app-custom-field [title]="'Position'" formControlName="position"></app-custom-field>
        <app-custom-field [title]="'Departament'" formControlName="departament"></app-custom-field>
        <app-custom-field [title]="'Employ work date'" [type]="'date'" formControlName="employWorkDate"></app-custom-field>

        <div class="field-title title-info">Address employee</div>

        <ng-container formGroupName="address">
            <app-custom-field [title]="'City'" formControlName="city"></app-custom-field>
            <app-custom-field [title]="'Street'" formControlName="street"></app-custom-field>
            <app-custom-field [title]="'ZipCode'" [type]="'number'" formControlName="zipCode"></app-custom-field>
        </ng-container>

    </div>


    <div class="button-wrap">
        <button type="submit" class="filled-cta button" [class.disabled]="disabledSubmit">Save changes</button>

        <button type="button" class="secondary-cta button" (click)="cancelChanges()">Cancel changes</button>
    </div>

</form>
