
.filled-cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  color: var(--white);
  text-decoration: none;
  background: var(--secondary-cta);
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: var(--secondary-cta-hover);
  }
}
