:root {
  --grey: #808080;
  --grey-second: #666;
  --grey-light: #f1efef;
  --grey-light-100: #FCFCFC;
  --grey-dark: #7D8398;
  --grey-dark-rgb: 125, 131, 152;
  --white: #ffffff;

  --black-2: #121212;
  --black-rgba: 0,0,0;

  --red: #FF0000;
  --red-hover: #B22222;

  --green: #228B22;
  --green-hover: #008000;

  --green-secondary: #78944f;

  --secondary-cta: #0068df;
  --secondary-cta-hover: #0054d1;

  --blue-rgba: 0, 104, 223;

  --h-color: #66FCF1;

  --border: #e1e2e6;
}
