:root {
  --grey: #808080;
  --grey-second: #666;
  --white: #ffffff;

  --red: #FF0000;
  --red-hover: #B22222;

  --green: #228B22;
  --green-hover: #008000;

  --green-secondary: #78944f;

  --secondary-cta: #0068df;
  --secondary-cta-hover: #0054d1;

  --h-color: #66FCF1;

  --border: #e1e2e6;
}
