

<ng-container *ngTemplateOutlet="content; context: { $implicit: data }"></ng-container>

<ng-template #emptyBlock let-contentText>
    <span>{{ contentText.name }} 1 </span>
</ng-template>

<ng-template #emptyBlockTitle let-contentTitle>
    <span>{{ contentTitle.name }} 2 </span>
</ng-template>

<button type="button" class="modal-button" (click)="changeTemplate('emptyBlock')">Template 1</button>
<button type="button" class="modal-button" (click)="changeTemplate('emptyBlockTitle')">Template 2</button>
