
<section class="wrapper">

  <div class="task-wrap">

    <div class="task-box">
      <input type="text" class="field" [(ngModel)]="taskValue" (keyup.enter)="addTask()" />

      <button type="button" class="button" [class.disabled]="!taskValue" (click)="addTask()">Add task</button>
    </div>

    <div class="priority-box">
      <p class="priority-text" appHighlightText>Choose priority to task:</p>

      @for (button of priorityButtons; track button.id) {

        <button type="button"
                class="priority-button priority-button-{{button.text.toLowerCase()}}"
                [class.active]="selectStatus === button.id"
                (click)="addPriority(button.id)"
        >{{ button.text }}</button>

      }

    </div>

  </div>

  <app-todo-list></app-todo-list>

</section>
