<div class="field-container">
    <label class="field-title"
           [class.error]="controlField && controlField.invalid && (controlField.touched || controlField.dirty)"
    >{{ title }}</label>

    <input class="field"
           [class.error]="control.control && control.control.invalid && (control.control.touched || control.control.dirty)"
           [type]="type"
           [placeholder]="title"
           [(ngModel)]="value"
           [disabled]="isDisabled"
           (input)="onInput($event)"
           (blur)="onBlur()"
    />

    @if (controlField && controlField.invalid && (controlField.touched || controlField.dirty)) {
        <div class="error-messages">

            @if (controlField.errors?.['required']) {
                <p>Это поле обязательно для заполнения.</p>
            }
            @if (controlField.errors?.['email']) {
                <p>Пожалуйста, введите корректный email.</p>
            }
            @if (controlField.errors?.['min']) {
                <p>Значение должно быть не менее {{ controlField.errors?.['min'].min }}</p>
            }
            @if (controlField.errors?.['minlength']) {
                <p>Значение должно быть не менее {{ controlField.errors?.['minlength'].requiredLength }} символов. Текущее количество: {{ controlField.errors?.['minlength'].actualLength }}</p>
            }
        </div>
    }

</div>
